.header{
    display:flex;
    justify-content: space-between;
    border:solid 1px black;
}

.logo{
    width:150px
}

.nav-items{
    padding: 0px 20px;
}

.nav-items > ul{
    display:flex;
}
.nav-items > ul > li{
    list-style-type:none;
    margin:10px;
    font-weight:bold;
    font-size: 20px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.res-card{
    width: 200px;
    height: 300px;
    padding: 5px;
}

.res-card :hover{
    box-shadow: 4px;
    cursor: pointer;
}

.search{
    border:solid 1px black;
    padding:10px;
}

.res-logo{
    width: 100%;
}